
/* Colors */
$blue: rgba(104,124,165,1);
$blueDark: rgba(96,111,142,1);
$blueDarker: rgba(80,90,110,1);
$gray: rgba(245,245,245,1);
$grayDark: rgba(76,76,76,1);
$white: rgba(255,255,255,1);
$green: rgba(166,173,85,1);


/* Background colors */

$primaryColor-background: $grayDark;
$secondaryColor-background: $white;
$primaryColor-font: $white;


/* Menu colors */

$menuLink: $white;
$menuLink-active: $blue;
$menuLink-hover: $blue;


